@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@500&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", "Times New Roman", serif;
}

p, a {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.sidebar {
  grid-row: 1/2;
  display: flex;
}

.main {
  margin: 0 2em 0 2em;
}

.intro > header,
.summary {
  text-align: center;
}

footer {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 0 -2em 0 -2em;
  width: 100vw;
}

.preamble {
  position: relative;
  border: solid 3px green;
  border-radius: 40%;
  padding-left: 3em;
  padding-right: 3em;
  height: 500px;
  width: 80%;
  background-color: green;
  margin: 0 auto;
  margin-bottom: -3em;
  z-index: 100;
  text-align: center;
  box-shadow: 10px 15px #004d00;
}
.preamble h3 {
  padding-top: 7em;
}

.main {
  position: relative;
  border: brown 3px solid;
  background-color: brown;
  padding: 2em;
  padding-top: 3em;
  width: 45%;
  margin: 0 auto;
  z-index: 1;
}

.intro header {
  width: 315px;
  height: 315px;
  background: linear-gradient(yellow, orange, red);
  border-radius: 50%;
  margin: 0 auto;
}
.intro header h1,
.intro header h2 {
  text-align: center;
  border-radius: 50%;
  padding: 50px;
}
.intro header abbr {
  text-decoration: none;
}

.summary {
  background-color: #f2f2f2;
  text-align: center;
  width: 390px;
  height: 230px;
  box-shadow: lightgrey 10px 10px;
  margin: 60px auto;
  border-radius: 100px;
  padding: 5px;
}
.summary p {
  border-radius: 50%;
  margin-bottom: 0;
  margin-top: 0;
}

.summary:after,
.summary:before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.summary:before {
  width: 130px;
  height: 130px;
  top: -25px;
  left: -80px;
}

.summary:after {
  width: 160px;
  height: 160px;
  top: -255px;
  left: 55px;
}

.sidebar:after,
.sidebar:before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.sidebar:before {
  width: 130px;
  height: 130px;
  top: -25px;
  left: 25px;
}

.sidebar:after {
  width: 160px;
  height: 160px;
  top: -50px;
  right: 50px;
}

@media only screen and (min-width: 50em) {
  .page-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }

  .intro {
    grid-row: 1/2;
    grid-column: 1/7;
    display: flex;
    flex-flow: row wrap;
  }

  header {
    flex: 0 0 25%;
  }

  .summary {
    flex: 0 0 33.2%;
    margin-left: 40%;
  }

  .preamble {
    flex: 0 0 100%;
  }

  .sidebar {
    display: flex;
    grid-column: 4/6;
    grid-row: 2/2;
    justify-content: center;
    align-content: center;
  }

  .main {
    grid-column: 1/4;
    margin-left: 4em;
  }

  footer {
    margin: 0 0 0 -4em;
  }

  .wrapper {
    border-left: 5px solid brown;
    border-right: 5px solid brown;
    border-bottom: 20px solid yellow;
    border-radius: 0 0 10px 10px;
    margin: 20px;
    padding: 10px;
    padding-top: 150px;
    max-height: 600px;
    transform-origin: top center;
    animation: swing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  .wrapper:hover {
    animation-play-state: paused;
  }

  .intro header {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    animation: sun 5s backwards linear infinite;
  }

  @keyframes cloud {
    0% {
      box-shadow: 5px 5px 5px lightgrey;
    }
    25% {
      box-shadow: 10px 10px 5px lightgrey;
    }
    50% {
      box-shadow: 5px 5px 5px lightgrey;
    }
    75% {
      box-shadow: 10px 10px 5px lightgrey;
    }
    100% {
      box-shadow: 5px 5px 5px lightgrey;
    }
  }
  @keyframes sun {
    0% {
      box-shadow: 5px 5px 5px yellow;
    }
    25% {
      box-shadow: 10px 10px 5px yellow;
    }
    50% {
      box-shadow: 5px 5px 5px yellow;
    }
    75% {
      box-shadow: 10px 10px 5px yellow;
    }
    100% {
      box-shadow: 5px 5px 5px yellow;
    }
  }
  .summary {
    min-width: 420px;
    min-height: 230px;
    max-width: 420px;
    max-height: 230px;
    animation: cloud 10s backwards linear infinite;
  }
}
@keyframes swing {
  0% {
    transform: rotateX(-20deg) skewX(-10deg);
  }
  50% {
    transform: rotateX(20deg) skewX(10deg);
  }
  100% {
    transform: rotateX(-20deg) skewX(-10deg);
  }
}

/*# sourceMappingURL=styles.css.map */
